@media all and (orientation: portrait) {
  @media (min-width: 980px) {
    html {
      font-size: 2rem;
    }
  } /* 竖屏电脑 */
  @media (min-width: 768px) and (max-width: 979px) {
    html {
      font-size: 1.5rem;
    }
  } /* 竖屏平板 */
  @media (max-width: 767px) {
    html {
      font-size: 1rem;
    }
  } /* 竖屏手机 */
}

@media all and (orientation: landscape) {
  @media (min-width: 1024px) {
    html {
      font-size: 2rem;
    }
  } /*横屏网页 */
  @media (max-width: 1023px) {
    html {
      font-size: 1rem;
    }
  }
} /* 横屏手机 */

body {
  margin: 0 0.8em;
  padding: 0;

  font-size: 0.625rem;

  background: #68cdd5;
  color: #ffffff;
}

header {
  padding: 0 2.5%;
}

.back {
  margin-top: 1em;

  width: 2.8em;
  height: 2.8em;

  background: url(../MagicMirror/Img/back@2x.png) no-repeat;
  background-size: cover;
}

main {
  margin-top: 2em;
  padding: 0 11%;
}

.logo {
  margin: 0 auto;

  width: 9.6em;
  height: 3.6em;

  background: url(../MagicMirror/Img/logo@2x.png) no-repeat;
  background-size: cover;
}

main .font {
  margin-top: 4em;
  margin-bottom: 0;

  font: 1.4em/2em "Hiragino Sans GB", "Microsoft YaHei", san-serif;
}

footer {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;

  margin-top: 8em;
  padding: 0 15%;
}

.icon {
  margin: 0 auto;

  width: 4.2em;
  height: 4.2em;
}

footer .font {
  text-align: center;
  margin-bottom: 0;

  font: 1.2em/1.5em SimHei, san-serif;
}

.online .icon {
  background: url(../MagicMirror/Img/online@2x.png) no-repeat;
  background-size: cover;
}

.user .icon {
  background: url(../MagicMirror/Img/user@2x.png) no-repeat;
  background-size: cover;
}

@media all and (orientation: landscape) {
  main {
    margin-top: 1em;
  }

  main .font {
    margin-top: 2em;
  }

  footer {
    margin-top: 4em;
  }
} /* 横屏适配 */

@media screen and (-webkit-device-pixel-ratio: 3) {
  .back {
    background: url(../MagicMirror/Img/back@3x.png) no-repeat;
  }
  .logo {
    background: url(../MagicMirror/Img/logo@3x.png) no-repeat;
  }
  .online .icon {
    background: url(../MagicMirror/Img/online@3x.png) no-repeat;
  }
  .user .icon {
    background: url(../MagicMirror/Img/user@3x.png) no-repeat;
  }
} /* @3x适配 */
